<div class="outer-wrapper" (click)="onRoute('Quick recommendation')" routerLink="/recommendation">
  <div class="inner-wrapper">
    <div class="text-left">
      <i class="pi pi-list"></i>
    </div>
    <div class="text-right">
      <h2>Quick recommendation</h2>
      <div class="text-wrapper">
        Start simple.
        <br>
        Get a guided recommendation on courses to take.
      </div>
    </div>
    <div style="clear:both"></div>
    <!-- <a (click)="onRoute('Quick recommendation')" routerLink="/recommendation"><button >Quick recommendation</button></a> -->
  </div>

  <div class="inner-wrapper" (click)="onRoute('Find your mentor')" routerLink="/findmentor">
    <div class="text-left">
      <i class="pi pi-search"></i>
    </div>
    <div class="text-right">
      <h2>Find your mentor</h2>
      <div class="text-wrapper">
        Need a more personal help?
        <br>
        Find a mentor tailored to your interests.
      </div>
    </div>
    <div style="clear:both"></div>
    <!-- <a (click)="onRoute('Find your mentor')" routerLink="/findmentor"><button>Find your mentor</button></a> -->
  </div>

  <div class="inner-wrapper" (click)="onRoute('Become a mentor')" routerLink="/becomementor">
    <div class="text-left">
      <i class="pi pi-user-plus"></i>
    </div>
    <div class="text-right">
      <h2>Become a mentor</h2>
      <div class="text-wrapper">
        Want to help out?
        <br>
        Help new students to find their way.
      </div>
    </div>
    <div style="clear:both"></div>
    <!-- <a (click)="onRoute('Become a mentor')" routerLink="/becomementor"><button>Become a mentor</button></a> -->
  </div>

  <div class="inner-wrapper" (click)="onRoute('Upcoming events')" routerLink="/events">
    <div class="text-left">
      <i class="pi pi-calendar"></i>
    </div>
    <div class="text-right">
      <h2>Events</h2>
      <div class="text-wrapper">
        Want to meet other newbies?
        <br>
        Participate in weekly or less regular events.
      </div>
    </div>
    <div style="clear:both"></div>
    <!-- <a (click)="onRoute('Upcoming events')" routerLink="/events"><button>Show upcoming events</button></a> -->
  </div>

  <div class="inner-wrapper" (click)="onRoute('External links')" routerLink="/externallinkpage">
    <div class="text-left">
      <i class="pi pi-info"></i>
    </div>
    <div class="text-right">
      <h2>General Help</h2>
      <div class="text-wrapper">
        You are new to TUM and need general help?
        <br>
        Here you will find basic information.
      </div>
    </div>
    <div style="clear:both"></div>
    <!-- <a (click)="onRoute('Upcoming events')" routerLink="/events"><button>Show upcoming events</button></a> -->
  </div>
</div>
