<p-accordion>
  <p-accordionTab header="Room Number Introduction">
    <div class="qr">
      <img src="assets/roomFinder.png">
      <br>Using TUM Room Finder to get a specific room.
    </div>
    <div class="description">The room number consists of three groups of numbers.<br>
      <b><i><u>XX.XX.XX</u></i></b>
      <br>
    <br>First:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Floor</b>
    <br>Second:&nbsp;&nbsp;<b>Block</b>
    <br>Third:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Room</b>
    <br><br>
    For example:
    <br> Room 02.07.23 is room <b><u>23</u></b>, of block <b><u>7</u></b>, on <b><u>second</u></b> floor.
    </div>

<br>
    <div class="description">
        *The block numbers of MI Building are shown as below.
    </div>
    <div class="block">
      <img src="assets/block.jpg">
    </div>
<br>
    <div class="description">
        It is also shown clearly inside this building.
    </div>
    <div class="block">
      <img src="assets/room.jpg">
    </div>
  </p-accordionTab>
  <p-accordionTab header="Mensa">
      <div class="description">
          Come out from the front door of MI building, and go straight down the road. After crossing a path, go up stairs, you will find the mensa.
      </div>
      <div class="mensa">
        <img src = "assets/mensa.png">
      </div>
      <br>
      <div class="description">
        Shown as below:
      </div>
      <div class="mensa">
          <img src = "assets/mensa2.JPG">
      </div>
  </p-accordionTab>
  <p-accordionTab header="Computer Hall">
    <div class="description">
      Here is a computer hall (the "Recherhalle" <b>00.05.011</b>) in MI building.
      With your <b>departmental accounts (in.tum.de)</b>, you can log on the computers.
      If you have't get one yet, ask and get it at the Informatics <b>Infopoint</b>.
    </div>
  </p-accordionTab>
  <p-accordionTab header="Printers and Quotas">
    <div class="description">
      Here are two printers at the "Recherhalle" (computer hall MI 00.05.011). You can easily use them by logging on one of the computers there, and choosing the printer <b>xerhalle</b>.
      <br><br>
      <b>Print quotas:</b>
      <br>
      You can buy quotas at the <b>script sales office (00.06.039)</b> during office hours.
      <br>
      <table>
        <tr>
          <th>Mondays, </th>
          <th>12:30 pm – 1:15 pm and 4:00 pm –   4:45 pm</th>
        </tr>
        <tr>
          <th>Tuesdays, </th>
          <th>12:00 pm – 12:45 pm</th>
        </tr>
        <tr>
          <th>Wednesdays, </th>
          <th>2:00 pm –   2:45 pm</th>
        </tr>
        <tr>
          <th>Thursdays,</th>
          <th>11:15 am – 12:00 pm</th>
        </tr>
        <tr>
          <th>Fridays, </th>
          <th>11:15 am – 12:00 pm and 2:00 pm – 2:45 pm</th>
        </tr>
      </table>
      <br>
      Price:
      <li>
        <ul>100 Pages: €3.50</ul>
        <ul>1000 pages: €30.00</ul>
      </li>
      <br>
      More information:
      <br>
      <div class="print">
          <img src="assets/print.png">
      </div>


    </div>
  </p-accordionTab>
</p-accordion>
